/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Universal selector to override the border and margins from the reset*/
*
{
	margin: 0px;
	box-sizing:border-box;
	border:1px solid blue;
	max-width:100%;
}

/*Generic Webpage Style*/

html
{
	font-size: 62.5%; /*this makes the default font size equal to 10 px*/
}

body
{
	font-size: 1.6rem; /*page font size is now 16 px*/
	line-height: 1.5;
	font-family: 'Roboto Mono', monospace;
}

h1
{
	font-family: 'Chelsea Market', cursive;
	font-size:5.5rem;
}

section
{
	/*these values "center" items"*/
	padding: 4%;
	width:90%;
	margin: 0 auto;
}

nav
{
	/*padding: top-bottom left-right;*/
	padding: 1% 0;
}

/*selecting the navigation area 'anchor' elements*/
nav a
{
	display:inline-block;
	padding: 1% 0;
	width: 10%;
	text-align: center;
	border-radius: 10px;
	color: white;
	text-decoration: none; /*removes hyperlink underline*/
}

.PYV
{
	background-color: #FF764E;
	margin-left: 10%;
}

.LATP
{
	background-color: #5ED3EB;
	margin: 0 24%
	
}

.GI
{
	background-color: #FFCD69;
	margin-right: 10%;
}

.ypg_img, .ypg_text
{
	display:inline-block;
}

.ypg_img
{
	width:30%;
}

.ypg_img img
{
	border-radius:50%;
}

.ypg_text
{
	width:60%;
	margin:-left: 5%;
	line-height:3;
	text-align: center;
}

.alt_bg
{
	background-color: #DDB9A3;
}

.alt_bg p
{
	text-align: center;
	color: white;
	padding: 1%;
}

.safety_info div
{
	width:30%;
	margin: 5% auto;
	text-align: center;
}

.bold_font
{
	font-weight: bold;
}

.campfire img, .camper img
{
	width:50%;
}

.bottom_img
{
	background-image: url('assets/footer_img.jpg');
	height:40vh;
	background-repeat: no-repeat;
	background-size:cover;
	background-position:top center;
	width: 100%;
}

footer
{
	background-color: #F9E7DC;
}